<ul>

  <li>
    <a href="https://github.com/heroku/hstore_example">HSTORE Example</a>
  </li>

  <li>
    <a href="http://inopinatus.org/2013/07/12/using-arrays-of-hstore-with-rails-4/">Arrays in HSTORE</a>
  </li>

  <li>
    <a href="http://clarkdave.net/2013/06/what-can-you-do-with-postgresql-and-json/">Postres and JSON</a>
  </li>

  <li>
    <a href="https://github.com/diogob/activerecord-postgres-hstore">AR hstore gem (for rails < 4)</a>
  </li>

  <li>
    <a href="http://www.craigkerstiens.com/2013/07/03/hstore-vs-json/">HSTORE vs JSON</a>
  </li>

  <li>
    <a href="http://thebuild.com/presentations/pg-as-nosql-pgday-fosdem-2013.pdf">hstore presentation</a>
  </li>

</ul>


<pre>
1. Types (array, hstore, json)
2. array can be on top level, works with selects
3. hstore - values only strings
4. json - nested values could be arrays
5. do not include arrays inside hstore (my observation)

</pre>
