<h1>Organizations</h1>

<table>

  <% Organization.all.each do |org| %>
    <tr>
      <td>
        <%= org.id %>
      </td>
      <td>
        <%= org.name %>
      </td>
    </tr>
  <% end %>

</table>


<%= link_to 'Users', :users %>
